SCRAPY104_DB_HOST=127.0.0.1
SCRAPY104_DB_PORT=3306
SCRAPY104_DB_USER=root
SCRAPY104_DB_PASSWORD=9879
SCRAPY104_CRAWL_DB=job104
SCRAPY104_APP_DB=jobdatabase

SCRAPY104_CONCURRENT_REQUESTS=32
SCRAPY104_CONCURRENT_REQUESTS_PER_DOMAIN=8
SCRAPY104_DOWNLOAD_DELAY=0.5
SCRAPY104_PIPELINE_BATCH_SIZE=100

SCRAPY104_REDIS_HOST=127.0.0.1
SCRAPY104_REDIS_PORT=6379
